@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&family=Titillium+Web:wght@300&display=swap');

:root {
  --primary-color: #f00;
  --secondary-color: #0f0;
  --tertiary-color: #00f;
  --port-color-1: #0a0e29;
  --port-color-2: #2d325a;
  --port-color-3: #304b78;
  --port-color-4: #2494a2;
  --port-color-5: #56bda2;
  --port-color-6: #dbb13b;
}
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 550px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}