:root {
  --primary-color: #f00;
  --secondary-color: #0f0;
  --tertiary-color: #00f;
  --port-color-1: #0a0e29;
  --port-color-2: #2d325a;
  --port-color-3: #304b78;
  --port-color-4: #2494a2;
  --port-color-5: #56bda2;
  --port-color-6: #dbb13b;
}