@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&family=Titillium+Web:wght@600&display=swap');
$body-bg: #f9f9f9e7;
$body-color: #0a0e29;
$bg-dark: #0a0e29;

$theme-colors: (
  "primary": #56bda2,
  "danger": #ff4136
);


@import '~bootstrap/scss/bootstrap.scss';
// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";